.planet-body {
    display: flex;
}

.planet-body img {
    width: 230px;
    border-radius: 4px;
}

.planet-ul-wrapper {
    margin-left: 30px;
}

.planet-ul-wrapper hr {
    background-color: #fff;
}

.planet-props {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.planet-props li {
    font-size: 20px;
}

.spinner {
    display: block;
    margin: 0 auto;
}

.toggle-planet {
    margin-top: 10px;
}