.person-card {
    display: flex;

}

.person-card img {
    width: 230px;
    height: 331px;
    border-radius: 4px;
}

.person-ul-wrapper {
    margin-left: 15px;
}

.person-ul-wrapper hr {
    background-color: #fff;
}

.person-props {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.person-props li {
    font-size: 18px;
}