.person-card {
    display: flex;

}

.person-img {
    width: 40%;
    border-radius: 4px;
}

.person-ul-wrapper {
    margin-left: 15px;
    width: 100%;
}

.person-ul-wrapper hr {
    background-color: #fff;
}

.item-props {
    display: flex;
    justify-content: space-between;
}

.person-props li {
    font-size: 18px;
}

/* .person-card {
    padding: 0;
} */