.header {
    display: flex;
    align-items: center;
}

.header-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 45px;
    width: 300px;
    justify-content: space-between;
}

.header-li {
    font-size: 22px;
}

.header-main {
    color: #fff;
}